.headerPanel {
    height: 60px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
}

.headerPanel > * {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.search {
    flex: 1;
}

.playerPanelContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerPanelContainer > button {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1
}