@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary-color: #759;
    --primary-background-color: #f5f5f5;
    --secondary-background-color: #e2e2e2;
    --border-color: #ccc;
    --shadow-color: #1b1b1b;
    --secondary-font-color: #8d8d8d;
    --warning-color: #ff5555;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 705px;
}

.horizontalPanel {
    display: flex;
}

.horizontalPanel > *:not(:last-child) {
    margin-right: 0.75rem;
}

.verticalPanel > *:not(:last-child) {
    margin-bottom: 0.75rem;
}

.text-input {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
    font-size: 16px;
}

.panel > *:not(:last-child) {
    margin-right: 1rem;
}

.centered {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryFont {
    color: #767676;
}

.singleLineText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="range"] {
    flex: 1;
    accent-color: #759;
    outline: none;
}