.button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    background: #e2e2e2;
}

.button:hover {
    filter: brightness(90%)
}

.inactive {
    opacity: 0.75;
    pointer-events: none;
}

.primary {
    background: #759;
    color: #fff;
}

.alone {
    width: 100%;
}

.withIcon {
    width: 2rem;
    height: 2rem;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    background: transparent;
}

.icon:hover {
    background: #e2e2e2;
}