.sampleModal {
    border: 1px solid #ccc;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 1rem auto;
    padding: 1rem;
    width: 525px;
}

.samplePanel {
    display: flex;
}

.cover {
    border-radius: 10px;
    height: 175px;
}

.mainSpace {
    flex: 1;
}

.header {
    width: 300px;
    overflow: hidden;
}

.track {
    align-items: center;
    font-size: 14px;
}

.track > input[type="range"] {
    flex: 1;
    accent-color: #759;
    outline: none;
}

.toolsPanel {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.playlistPanelContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userPanel {
    align-items: center;
}

.userPanel > a, a:visited {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.userPanel > a:hover {
    text-decoration: underline;
}

.userAvatar {
    border-radius: 50%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.userAvatar:hover {
    filter: brightness(70%)
}

.commentsPanel {
    max-height: 500px;
    overflow-y: auto;
}

.commentsPanel > * {
    width: 100%;
}