.playerPanel {
    z-index: 2;
    position: absolute;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 0.75rem;
    top: 60px;
    right: 0;
    max-width: 330px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.4s;
}

.playerPanel.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.samplePanel {
    overflow: hidden;
}

.cover {
    border-radius: 10px;
    height: 50px;
}

.playbackControlPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.volumePanel {
    display: flex;
    flex-direction: row;
}

.volumePanel > *:not(:last-child){
    margin-right: 0.25rem;
}

.volume {
    visibility: hidden;
    width: 0;
    transform: translateX(-20px);
    transition: visibility 0.2s, width 0.4s, transform 0.4s;
}

.volume.volumeActive {
    visibility: visible;
    width: 100px;
    transform: translateX(0px);
}