.sample {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    margin: 1rem;
    padding: 1rem;
    width: 425px;
    display: flex;
    justify-content: space-between;
}

.cover {
    border-radius: 10px;
    height: 115px;
}

.cover:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.sampleInfo {
    width: 264px;
    overflow: hidden;
}

.toolButtons {
    display: none;
}

.toolButtons.active {
    display: block;
}

.mainSpace {
    overflow: hidden;
    flex: 1;
}

.sampleName {
    font-size: 18px;
    font-weight: bold;
    width: auto;
}

.sampleName:hover {
    text-decoration: underline;
    cursor: pointer;
}

.track {
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
