.statisticsPanel {
    padding: 1rem;
    align-items: center;
    overflow-x: auto;
}

.chartContainer {
    max-width: 575px;
    overflow-x: auto;
}

.buttonPanel {
    display: flex;
    justify-content: center;
}